#shop-page {
  h1 {
    padding-left: 20px;
  }

  .content-container {
    display: flex;
  }
}

@media (max-width: 600px) {
  #shop-page {
    .content-container {
      flex-direction: column;
    }
  }
}
